.opened-todo {
  width: 100%;
  color: #fff;

  padding: 0 50px;

  button {
    background-color: transparent;
    border: none;
  }

  .adder {
    position: relative;

    input {
      background-color: #181819;
      width: 100%;
      height: var(--tile-height);
      border: none;
      outline: none;
      padding: 0 20px;
      color: #fff;

      &.valid {
        padding-right: 40px;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--bg-color-light);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    button {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      border: none;
      cursor: pointer;

      &.invalid {
        animation: HideButton .2s forwards;
      }
      
      &.valid {
        animation: ShowButton .2s forwards;
      }
    }

    @keyframes ShowButton {
      from {
        right: -20px;
        opacity: 0;
        pointer-events: none;
      }
      to {
        right: 10px;
        opacity: 1;
        pointer-events: auto;
      }
    }

    @keyframes HideButton {
      from {
        right: 10px;
        opacity: 1;
        pointer-events: auto;
      }
      to {
        right: -20px;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 0 15px;
    background-color: #181819;
    padding: 0 20px;
    margin-bottom: 20px;
    height: calc(var(--tile-height) / 2);

    button.active {
      color: var(--active-color);   
    }
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .completed {
      opacity: .5;
    }

    & > * {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      height: var(--tile-height);
      background-color: #1E1E21;
      
      .checkbox {
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: relative;
        height: 100%;

        &::after {
          content: "";
          width: 2px;
          height: 100%;
          background-color: #252529;
          position: absolute;
          top: 0;
          right: 0;;
        }
      }

      p {
        padding: 0 20px;
      }

      button {
        padding: 0 20px;
      }

    }
  }
}